{% extends "facility/index.html" %}
{% block TITLE %}Мониторы{% endblock TITLE %}
{% block MAIN_CONTENT %}

<h4>Мониторы</h4>

<!--<div class="table">
    <div>
        <div>Модель</div>
        <div>Модель</div>
        <div>Модель</div>
        <div>Модель</div>
    </div>
</div>-->

<a href="monitor/add"><button type="button" class="btn btn-dark mt-3 mb-3"> Добавить монитор </button></a>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Модель</th>
        <th scope="col">Диагональ, дюймов</th>
        <th scope="col">Инвентарный номер</th>
        <th scope="col">Год приобретения</th>
    </tr>
    </thead>
    <tbody>
    {% for monitor in monitors %}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{monitor.monmodel}}</td>
        <td>{{monitor.mondiag}}</td>
        <td>{{monitor.moninv}}</td>
        <td>{{monitor.mondate|date:"d/m/Y"}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock MAIN_CONTENT %}